* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 70vh;
}

img {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
  color: black;
}

.app {
  text-align: center;
}
