.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.two {
  display: flex;
  
}


.background-clicked {
  background-color: black;
  color: white;
  
}
 .background-clicked2 {
  background-color: white;
}

.firstbutton {
  height: 60px;
  width: 150px;
  background-color: brown;
  color: antiquewhite;
  font-size: 12px;
  border-radius: 5%;
  font-size: 20px;

}

.themeButtons {
  display: flex;
  gap: 40px;
  
}
.up {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  margin-right: 40px;
}